{{#if this.deckLoaded}}
  {{#if (eq this.type "side")}}
    <BoxInsertSide
      @deck={{this.deck}}
      @printOptions={{@printOptions}}
      @deckboxFormat={{@deckboxFormat}}
      @housesRatioBarData={{this.housesRatioBarData}}
    />
  {{/if}}

  {{#if (eq this.type "top")}}
    <BoxInsertTop
      @deck={{this.deck}}
      @printOptions={{@printOptions}}
      @deckboxFormat={{@deckboxFormat}}
      @housesRatioBarData={{this.housesRatioBarData}}
    />
  {{/if}}

  {{#if (eq this.type "front")}}
    <BoxInsertFront
      @deck={{this.deck}}
      @printOptions={{@printOptions}}
      @deckboxFormat={{@deckboxFormat}}
      @housesRatioBarData={{this.housesRatioBarData}}
    />
  {{/if}}

  {{#if (eq this.type "front_top")}}
    <div class="layoutFrontAndTop">
      <BoxInsertTop
        @deck={{this.deck}}
        @printOptions={{@printOptions}}
        @deckboxFormat={{@deckboxFormat}}
        @housesRatioBarData={{this.housesRatioBarData}}
      />
      <BoxInsertFront
        @deck={{this.deck}}
        @printOptions={{@printOptions}}
        @deckboxFormat={{@deckboxFormat}}
        @housesRatioBarData={{this.housesRatioBarData}}
      />
    </div>
  {{/if}}

  {{#if (eq this.type "front_side")}}
  <div class="layoutFrontAndSide {{@deckboxFormat.boxClass}}">
    <BoxInsertSide
      @deck={{this.deck}}
      @printOptions={{@printOptions}}
      @deckboxFormat={{@deckboxFormat}}
      @housesRatioBarData={{this.housesRatioBarData}}
    />
    <BoxInsertFront
      @deck={{this.deck}}
      @printOptions={{@printOptions}}
      @deckboxFormat={{@deckboxFormat}}
      @housesRatioBarData={{this.housesRatioBarData}}
    />
  </div>
  {{/if}}

  {{#if (eq this.type "all")}}
  <div class="layoutAll {{@deckboxFormat.boxClass}}">
    <BoxInsertSide
      @deck={{this.deck}}
      @printOptions={{@printOptions}}
      @deckboxFormat={{@deckboxFormat}}
      @housesRatioBarData={{this.housesRatioBarData}}
    />
    <BoxInsertTop
      @deck={{this.deck}}
      @printOptions={{@printOptions}}
      @deckboxFormat={{@deckboxFormat}}
      @housesRatioBarData={{this.housesRatioBarData}}
    />
    <BoxInsertFront
      @deck={{this.deck}}
      @printOptions={{@printOptions}}
      @deckboxFormat={{@deckboxFormat}}
      @housesRatioBarData={{this.housesRatioBarData}}
    />
  </div>
  {{/if}}

  {{#if (eq this.type "box_v")}}
  <div class="layoutBoxV {{@deckboxFormat.boxClass}}">
    <table>
      <tbody>
        <tr class="vd">
          <td class="cd"></td><td class="cw">
            <BoxInsertTop
              @deck={{this.deck}}
              @printOptions={{@printOptions}}
              @deckboxFormat={{@deckboxFormat}}
              @housesRatioBarData={{this.housesRatioBarData}}
            />
          </td><td class="cd"></td>
        </tr>
        <tr class="vhs">
          <td class="cd">
              <BoxInsertSide
                @deck={{this.deck}}
                @printOptions={{@printOptions}}
                @deckboxFormat={{@deckboxFormat}}
                @housesRatioBarData={{this.housesRatioBarData}}
              />
          </td><td rowspan="2">
            <BoxInsertFront
            @deck={{this.deck}}
            @printOptions={{@printOptions}}
            @deckboxFormat={{@deckboxFormat}}
            @housesRatioBarData={{this.housesRatioBarData}}
          />
          </td><td></td>
        </tr>
        <tr class="vd">
          <td></td><td></td>
        </tr>
        <tr class="vd">
          <td></td><td></td><td></td>
        </tr>
        <tr class="vh">
          <td></td><td></td><td></td>
        </tr>
        <tr class="vd">
          <td></td><td></td><td></td>
        </tr>
      </tbody>
    </table>
  </div>
  {{/if}}


{{/if}}