{{#if (eq this.type "side")}}
{{! Side Box Insert }}
<div class="box-insert box-insert-side{{unless this.sideShowSet " no-set"}}">
  {{! Name and extension }}
  <div class="dok-zone-set">
    <Set @set={{this.deck.expansion}} />
  </div>
  <div class="dok-zone-name">
    {{this.deck.name}}
  </div>
  {{! SAS Stats }}
  <div class="dok-zone-stat">
    {{this.deck.sasRating}}
    <span class="dok-sas-label">SAS</span>
  </div>
  {{! HOUSES }}
  <div class="dok-zone-houses">
    {{#each this.deck.houses as |house|}}
    <HouseIcon @houseName={{house}} />
    {{/each}}
  </div>
</div>
{{/if}}

{{#if (eq this.type "top")}}
{{! Top Box Insert }}
<div class="box-insert box-insert-top">
  {{! Name and extension }}
  <div class="dok-zone-top-left">
    <div class="dok-zone-blank">
      <div class="flexfill">
        {{! Nothing here there is the Burger Logo }}
      </div>
      <div class="dok-zone-set">
        <Set @set={{this.deck.expansion}} />
      </div>
    </div>
    <div class="dok-zone-name">
      {{this.deck.name}}
    </div>
  </div>
  <div class="dok-zone-top-right">
    {{! HOUSES }}
    <div class="dok-zone-houses">
      {{#each this.deck.houses as |house|}}
      <HouseIcon @houseName={{house}} />
      {{/each}}
    </div>
    {{! SAS Stats }}
    <div class="dok-zone-stat">
      {{this.deck.sasRating}}
      <span class="dok-sas-label">SAS</span>
    </div>
  </div>
</div>
{{/if}}

{{#if (eq this.type "front")}}
{{! Front Box Insert }}
<div class="box-insert box-insert-front borders">
  {{#if this.frontShowHeader}}
  <div class="dok-zone-front-header">
    {{! Name and extension }}
    {{#if this.frontShowSet}}
    <div class="dok-zone-set">
      <div>
        <Set @set={{this.deck.expansion}} />
      </div>
    </div>
    {{/if}}
    <div class="dok-zone-name">
      {{this.deck.name}}
    </div>
    <div class="dok-zone-header-right">
      {{!-- HOUSES --}}
      <div class="dok-zone-houses">
        {{#each this.deck.houses as |house|}}
        <HouseIcon @houseName={{house}} />
        {{/each}}
        {{!-- SAS Repartition--}}
        <HouseRatioBar @data={{this.housesRatioBarData}}/>
      </div>
      {{!-- SAS Stats --}}
      <div class="dok-zone-stat">
        {{this.deck.sasRating}}
        <span class="dok-sas-label">SAS</span>
      </div>
    </div>
  </div>
  {{/if}}
  <div class="dok-zone-front-main">
    <div class="dok-zone-front-colgroup2">
      <div class="dok-zone-front-colgroup2-top">
        {{!-- Left --}}
        <div class="dok-zone-front-col">
          <div class="dok-stats-group-wrapper card-types">
            <div class="dok-stats-group-legend">
              Card Type
            </div>
            <div class="dok-stats-group-data">
              <DokStat @iconClass="creatures" @legend="Creatures" @value={{this.deck.creatureCount}}/>
              <DokStat @iconClass="actions" @legend="Actions" @value={{this.deck.actionCount}}/>
              <DokStat @iconClass="artifacts" @legend="Artifacts" @value={{this.deck.artifactCount}}/>
              <DokStat @iconClass="upgrades" @legend="Upgrades" @value={{this.deck.upgradeCount}}/>
            </div>
          </div>
          <div class="dok-stats-group-wrapper sas">
            <div class="dok-stats-group-legend">
              SAS
            </div>
            <div class="dok-stats-group-data">
              <DokStat @iconClass="synergy" @legend="Synergy" @value={{this.deck.synergyRating}}/>
              <DokStat @iconClass="antiSynergy" @legend="Anti-Synergy" @value={{this.deck.antisynergyRating}}/>
            </div>
          </div>
        </div>
        {{!-- Middle --}}
        <div class="dok-zone-front-col">
          <div class="dok-stats-group-wrapper aember">
            <div class="dok-stats-group-legend">
              Aember
            </div>
            <div class="dok-stats-group-data">
              <DokStat @iconClass="aemberControl" @legend="Aember Control" @value={{this.deck.aemberControl}}/>
              <DokStat @iconClass="expectedAember" @legend="Expected Aember" @value={{this.deck.expectedAember}}/>
              <DokStat @iconClass="aemberProtection" @legend="Aember Protection" @value={{this.deck.aemberProtection}}/>
            </div>
          </div>
          <div class="dok-stats-group-wrapper speed">
            <div class="dok-stats-group-legend">
              Speed
            </div>
            <div class="dok-stats-group-data">
              <DokStat @iconClass="efficiency" @legend="Efficiency" @value={{this.deck.efficiency}}/>
              <DokStat @iconClass="disruption" @legend="Disruption" @value={{this.deck.disruption}}/>
            </div>
          </div>
        </div>
      </div>
      <div class="dok-zone-front-colgroup2-bottom">
        <div class="notes-legend">
          Notes
        </div>
        <div>

        </div>
      </div>
    </div>
    {{!-- Right --}}
    <div class="dok-zone-front-col">
      <div class="dok-stats-group-wrapper board">
        <div class="dok-stats-group-legend">
          Board
        </div>
        <div class="dok-stats-group-data">
          <DokStat @iconClass="artifactControl" @legend="Artifact Control" @value={{this.deck.artifactControl}}/>
          <DokStat @iconClass="creatureControl" @legend="Creature Control" @value={{this.deck.creatureControl}}/>
          <DokStat @iconClass="effectivePower" @legend="Effective Power" @value={{this.deck.effectivePower}}/>
        </div>
      </div>
      <div class="dok-stats-group-wrapper misc">
        <div class="dok-stats-group-legend">
          Misc
        </div>
        <div class="dok-stats-group-data">
          <DokStat @iconClass="houseCheating" @legend="House Cheating" @value={{this.deck.houseCheating}}/>
          <DokStat @iconClass="other" @legend="Other" @value={{this.deck.other}}/>
        </div>
      </div>
      <div class="dok-stats-group-wrapper extra">
        <div class="dok-stats-group-legend">
          Extra
        </div>
        <div class="dok-stats-group-data">
          <DokStat @iconClass="rawAmber" @legend="Bonus Aember" @value={{this.deck.rawAmber}}/>
          <DokStat @iconClass="keyCheat" @legend="Key Cheat" @value={{this.deck.keyCheatCount}}/>
          <DokStat @iconClass="archive" @legend="Archive" @value={{this.deck.cardArchiveCount}}/>
        </div>
      </div>
    </div>
  </div>
  {{#if this.frontShowFooter}}
  <div class="dok-zone-front-footer">
    <div class="flexfill"></div>
    {{! SAS update date }}
    <div class="dok-SAS-info">
      <div>{{this.deck.lastSasUpdate}}</div>
    </div>
  </div>
  {{/if}}
</div>
{{/if}}