<div class="decks">
  <div class="grid-x">
    <div class="cell small-9 left-column deck-inserts">
      <div class="print-sheet">
        {{#each this.decksToPrint as |deck|}}
        <div class="print-sheet-block">
          <BoxInsert @type="side" @deck={{deck}} @printOptions={{this.printOptions}} @insertType={{this.insertType}} />
        </div>
        {{/each}}
      </div>
    </div>
    <div class="cell small-3 right-column deck-options">
      <p class="smallTitle">
        Templates
      </p>

      <div class="print-option">
        <div class="print-option-label">
          Insert Type
        </div>
        <div class="print-option-select">
          <PowerSelect @options={{this.insertTypes}} @selected={{this.insertType}} @destination="insertTypes-list"
            @onChange={{fn this.setInsertType}} as |type|>
            {{type.name}}
          </PowerSelect>
          <div id="insertTypes-list"></div>
        </div>
      </div>

      <p class="smallTitle">
        Printing Options
      </p>

      {{#if this.showSideOptions}}
      <PrintOptionToggle 
        @label="Show set on side" 
        @id="option-side-showSet" 
        @name="sideShowSet"
        @checked={{this.sideShowSet}}
      />
      {{/if}}

      {{#if this.showFrontOptions}}
      <PrintOptionToggle 
        @label="Show header on front" 
        @id="option-header-showSet" 
        @name="frontShowHeader"
        @checked={{this.frontShowHeader}}
      />
      {{#if this.frontShowHeader}}
      <PrintOptionToggle 
        @label="Show set on front" 
        @id="option-front-showSet" 
        @name="frontShowSet"
        @checked={{this.frontShowSet}}
      />
      {{/if}}
      <PrintOptionToggle 
        @label="Show footer on front" 
        @id="option-footer-showSet" 
        @name="frontShowFooter"
        @checked={{this.frontShowFooter}}
      />
      {{/if}}

      <p class="smallTitle">
        Decks Folders
      </p>
      <div class="deck-folders-list">
        {{#each @model.folders as |folder|}}
        <DeckFolder @folder={{folder}} />
        {{/each}}
      </div>
      <a class="button" role="button" {{on "click" (fn this.clearDecks)}}>
        Remove all decks
      </a>
      <p class="smallTitle">
        Import Decks Data
      </p>
      <div>
        <FileUpload @name="dokCsvUpload" @accept="text/csv" @onfileadd={{fn this.uploadDokCsv}}>
          <a class="button" role="button" tabindex="0">
            Load DoK csv file
          </a>
        </FileUpload>
      </div>
    </div>
  </div>
</div>